@model CourseSeller.DataLayer.Entities.Users.User
@inject IConfiguration Configuration



<div style="direction: rtl !important; margin: 2%">
    <h2>@Model.UserName عزیز!</h2>
    <p>جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید.</p>
    <form action="@Configuration["DomainLink"]/Account/ResetPassword/@Model.ActiveCode/" method="get">
        <button style="background-color: greenyellow">بازیابی کلمه عبور</button>
    </form>
</div>

