@model CourseSeller.Core.DTOs.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}


<partial name="_AddressBarStart" />
بازیابی کلمه عبور
<partial name="_AddressBarFinish" />


<main class="client-page">
    <div class="container-content">

        @if (ViewData["IsSuccess"] != null)
        {
            <div class="alert alert-success">
                ایمیل بازیابی کلمه عبور برای شما ارسال شد.
            </div>
        }

        <header><h2> بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <hr/>

                <button class="btn btn-success"> تایید و ارسال </button>

            </form>
        </div>

    </div>
</main>



@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
