@model CourseSeller.Core.DTOs.Accounts.RegisterViewModel
@{
    ViewData["Title"] = "عضویت";
}


<partial name="_AddressBarStart"/>
عضویت در سایت
<partial name="_AddressBarFinish"/>


<main class="client-page">
    <div class="container-content">

        <header><h2> عضویت در سایت </h2></header>

        <div class="form-layer">

            <form asp-action="Register" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                    <input asp-for="UserName" type="text" class="form-control" placeholder="نام و نام خانوادگی" aria-describedby="username">
                </div>
                <span asp-validation-for="UserName" class="text-danger"></span>


                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور" aria-describedby="password">
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="repassword"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور" aria-describedby="repassword">
                </div>
                <span asp-validation-for="RePassword" class="text-danger"></span>

                <div class="accept-rules">
                    <label><input asp-for="AcceptRules" type="checkbox">  قوانین و مقررات سایت را میپذیرم </label>
                </div>
                <span asp-validation-for="AcceptRules" class="text-danger"></span>

                <div class="link">
                    <a href="#"> <i class="zmdi zmdi-assignment"></i> قوانین و مقررات سایت !</a>
                    <a asp-action="Login"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                </div>


                <button class="btn btn-success"> عضویت در سایت </button>

            </form>
        </div>

    </div>
</main>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
                }
