@model CourseSeller.DataLayer.Entities.Users.User
@{
    ViewData["Title"] = "ثبت نام موفق";
}


<partial name="_AddressBarStart" />
پایان ثبت نام
<partial name="_AddressBarFinish" />

<div class="container">
    <div class="alert alert-success" style="margin: 1%">
        <h2><b>@Model.UserName</b> عزیز!</h2>
        <p>ثبت نام شما با موفقیت انجام شد. ایمیلی حاوی لینک فعالسازی به ایمیل @Model.Email ارسال شد.</p>
        <p>جهت ادامه ثبت نام وارد ایمیل خود شوید و روی <b>لینک فعالسازی</b> کلیک کنید.</p>
    </div>
</div>